<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hwj.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--Android 13细化媒体权限-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Required to maintain app compatibility. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!--应用通知-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!--近场wifi-->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"/>

    <application android:theme="@style/Theme.ComposingDemo">
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab.TabActivity"
            android:exported="false" />
    </application>

</manifest>