<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hwj.search">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--Android 13细化媒体权限-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Required to maintain app compatibility. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application android:theme="@style/Theme.ComposingDemo">
        <activity
            android:name=".SearchActivity"
            android:exported="true" >
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".WebActivity"
            android:exported="false" />
        <activity
            android:name=".ListActivity"
            android:exported="false" />
        <activity
            android:name=".FileWebActivity"
            android:exported="false" />
        <activity
            android:name=".menu.MenuActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>